.addCompany{
    font-family: YEEZY TSTAR,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 750;
    background-position: left;
    background-position: bottom;
    background-image: url(AddCompany.jpg);
    color: white;
    background-color: rgb(56, 52, 52);
    background-repeat:repeat-x;
    height: 90vh;
  
}
.addCompany>input{
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addCompany>  input[type=button]{
    background-color: white;
 
}
.all-writing{
    display: inline-block;
    margin-right: 10px;
}
.inputs{
    display: inline-block;
}
.inputs>input{
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.inputs>  input[type=button]{
    background-color: white;
    margin-left: 70px;
}
